# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
*.iml

# Android signing (절대 공개 금지)
android/key.properties
android/app/*.jks
android/app/*.keystore
**/*.jks
**/*.keystore
keystore-info.txt
**/keystore*
**/signing*

# Environment
.env

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/flutter_export_environment.sh

# Dart/pub
.dart_tool/
pubspec.lock

# IDE
.idea/
.vscode/
*.swp

# 기타 제외 파일
공공포털 이용관련.png
